<html>
    <head>
        <title>Cloud Native Nordics Companies</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />
        <link href="slider.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="slider.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div class="slides" id="app">
            <section class="container" id="sponsors">
                <div class="row">
                    <h2 class="columns twelwe center">Sponsoring companies!</h2>
                    <company v-for="company in sponsors"
                        v-bind:key="company.id"
                        v-bind:item="company"></company>
                </div>
            </section>
            <section class="container" id="members">
                <div class="row">
                    <h2 class="columns twelwe center">Member companies</h2>
                    <company v-for="company in members"
                        v-bind:key="company.id"
                        v-bind:item="company"></company>
                </div>
            </section>            
        </div>
    </body>
</html>
