<html>
    <head>
        <title>Cloud Native Nordics Companies</title>
        <link href="https://raw.githubusercontent.com/dhg/Skeleton/master/css/normalize.css" rel="stylesheet" />
        <link href="https://raw.githubusercontent.com/dhg/Skeleton/master/css/skeleton.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />
        <link href="slider.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://raw.githubusercontent.com/nodeca/js-yaml/master/dist/js-yaml.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="slider.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <div class="slides" id="app">
            <section class="container" id="sponsors">
                <div class="row">
                    <h2 class="columns twelwe center">Sponsoring companies!</h2>
                    <company v-for="company in sponsors"
                        v-bind:key="company.id"
                        v-bind:item="company"></company>
                </div>
            </section>
            <section class="container" id="members">
                <div class="row">
                    <h2 class="columns twelwe center">Member companies</h2>
                    <company v-for="company in members"
                        v-bind:key="company.id"
                        v-bind:item="company"></company>
                </div>
            </section>            
        </div>
    </body>
</html>
